@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
  display: none;
}
body{
  background-color: #32353C;
}
nav{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 125px;
    background: #1E1F21;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   }
   nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 100%;
    background: #1E1F21;
    margin-left: 3%;
   
   }
   nav .navbar .logo a img{
     width: 250px;
     height: 250px;
     margin-top: 20px;
   }
   
   nav .navbar .menu{
     display: flex;
     margin-left: 20px;
     align-items: center;
   }
   .navbar .menu li{
     list-style: none;
     margin: 0 15px;
   }
   .navbar .menu li a{
     color: #fff;
     font-size: 20px;
     font-weight: 500;
     text-decoration: none;
     transition: ease-in-out 0.4ms;
   }
   .navbar .menu li a:hover{
     text-decoration: underline;
     text-decoration-color: #4DE453;
   }
   
   .navbar .menu .login{
     display: flex;
   }
   .navbar .login li{
     list-style: none;
   }
   
   .menu #register-btn{
     color: #000;
     font-size: 15px;
     font-weight: 500;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 25px;
     padding-right: 25px;
     text-decoration: none;
     border-radius: 35px;
     border-color: #4de453;
     background-color: #4DE453;
     transition: all 0.4ms;
   }
   
   .menu #register-btn:hover{
     color: #4DE453;
     background-color: #000;
     border-color: #4DE453;
   }


/*Auto Scroll*/

.carousel {
    margin-top: 3%;
    margin-left: 5%;
    position: relative;
    width: 90%;
    height: 75%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*Search Bar*/

.search-container {
    width: 100%;
    max-width: 600px;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    width: 100%;
    padding: 40px;
    margin-left: 70%;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #4DE453;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4de453;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
/*Bagian Awal*/

.text{
  margin-left: 5.5rem;
  margin-right: 5.5rem;
  display: flex;
  gap: 15vh;
  color: #fff;
  justify-content: center;
}

.t1{
    display: flex;
    gap: 30vh;
    align-items: center;
}

.t1 h1{
    font-size: 25px;
}

.t2{
    display: flex;
    gap: 30vh;
    align-items: center;
}

.t2 h1{
    font-size: 25px;
}

.container{
  display: flex;
}
.animeterbaru{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 100%;
}
.anime1{
  display: flex;
  gap: 30px;
  margin-left: 8.5rem;
  margin-top: 2rem;
}
.anime2{
  display: flex;
  gap: 30px;
  margin-left: 8.5rem;
  margin-top: 2rem;
  max-width: 100%;
}
.anime1 img{
  object-fit: cover;
  transition: all ease-in-out 0.2s;
  width: 227px;
  height: 327px;
  border-radius: 15px;
}
.anime1 img:hover{
  width: 247px;
  height: 347px;
}
.anime1 p{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.anime2 img{
  object-fit: cover;
  transition: all ease-in-out 0.2s;
  width: 227px;
  height: 327px;
  border-radius: 15px;
}
.anime2 img:hover{
  width: 247px;
  height: 347px;
}
.anime2 p{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.ratingtertinggi{
  max-width: 50%;
  height: 100%;
}
.anime3{
  margin-left: 6rem;
  gap: 30px;
  margin-top: 2rem;
}
.card1{
  margin-bottom: 30px;
}
.card1 .cardtext{
  display: flex;
  justify-content: space-between;
}
.cardtext i{
  margin-right: 5px;
  color: yellow;
}
.anime3 img{
  transition: all ease-in-out 0.2s;
  width: 500px;
  height: 330px;
  object-fit: cover;
  border-radius: 15px;
}
.anime3 img:hover{
  width: 520px;
  height: 350px;
}
.anime3 p{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.anime3 h1{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
    
/*Histori*/
.history{
  margin-left: 5.5rem;
  margin-right: 5.5rem;
  padding: 50px;
}

.text-history{
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
.historynime{
  display: flex;
  justify-content: space-between;
  margin-left: 8.5rem;
  margin-right: 8.5rem;
}

.cardnime img{
  object-fit: cover;
  transition: all ease-in-out 0.2s;
  width: 250px;
  height: 360px;
  border-radius: 15px;
}
.cardnime img:hover{
  width: 270px;
  height: 380px;
}

.cardnime p{
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
/*Most Popular*/

.populartext{
  margin-left: 5.5rem;
  margin-right: 5.5rem;
  padding: 50px;
}
.text-popular{
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
.mostpopular{
  margin-left: 8.5rem;
  margin-right: 8.5rem;
  justify-content: space-between;
  display: flex;
}
.popularcard img{
  object-fit: cover;
  width: 500px;
  height: 300px;
  border-radius: 15px;
  transition: all ease-in-out 0.4s;
}

.popularcard img:hover{
  width: 520px;
  height: 320px;
}

.popularcard p{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.mostpopular1{
  margin-left: 8.5rem;
  margin-right: 8.5rem;
  justify-content: space-between;
  display: flex;
  margin-top: 2%;
}
.popularcard1 img{
  object-fit: cover;
  width: 500px;
  height: 300px;
  border-radius: 15px;
  transition: all ease-in-out 0.2s;
}
.popularcard1 img:hover{
  width: 520px;
  height: 320px;
}
.popularcard1 p{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
a{
  text-decoration: none;
}
/*Footer*/

footer {
    background-color: #33B864;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 3%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }
  
  .footer-container img{
    width: 150px;
    height: 50px;
  }
  
  .logo-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 15px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
  }
  
  .footer-column ul {
    list-style: none;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
    color: white;
  }
  
  .sign-up-section button {
    background-color: #4de453;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  .sign-up-section #footerbtn:hover{
    color: #4DE453;
    background-color: #000;
    border-color: #4DE453;
  }
  
  .sign-up-section button:hover {
    background-color: #3ac47d;
  }
  
  hr {
    border: 0;
    border-top: 1px solid white;
    margin: 20px 0;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }
  
  .footer-bottom p {
    margin: 10px 0;
  }
  
  .social-icons a {
    margin-left: 10px;
    color: #000;
    font-size: 25spx;
  }

  